/*   background: radial-gradient(circle, #1cf870 0%, #000000 100%);
  background-blend-mode: normal;
} */
:root {
    --color: #76efa5;
}
.homePage{
    width: 46rem;
    height:100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    z-index: 20;
}
.homePage .header {
    width: 86%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.homePage .containerButtons {
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}
.homePage .header p {font-size: 130%;}
.homePage .header p span {font-size: 180%;font-weight: bold;color: #76efa5;}